<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <p class="banner">Yerzhan</p>
    <table>
      <tr>
        <td>
          <img class="ava" src="../public/images/Yerzhan.png" alt="Yerzhan" />
        </td>
        <td valign="top">
          <ul>
            <li>+7 777 999 6969</li>
            <li>buraby1@gmail.com</li>
            <li>Reside in: Astana</li>
          </ul>
        </td>
      </tr>
    </table>
    <hr noshade />
    <h2>Experince</h2>
    <table>
      <tr>
        <th scope="col" align="left" width="200">Time period</th>
        <th scope="col" align="left">Work place</th>
      </tr>
      <tr>
        <td scope="row">may 2022 - current time</th>
        <td>ATI, LLP</th>
      </tr>
      <tr>
        <td scope="row">october 2021 - may 2022</th>
        <td>ACCENTURE, JSC</th>
      </tr>
    </table>
    <hr noshade />
    <h2>Education</h2>
    <table>
      <tr>
        <th scope="col" align="left" width="200">Time period</th>
        <th scope="col" align="left">Study place</th>
      </tr>
      <tr>
        <td scope="row">2008 - 2011</th>
        <td>Banking institute, Prague</th>
      </tr>
      <tr>
        <td scope="row">2006 -  2008</th>
        <td>Czech technical university</th>
      </tr>
    </table>
    <hr noshade />
    <h2>Hobbies</h2>
    <ul>
        <li>swimming</li>
        <li>running</li>
    </ul>
    <hr noshade />
    <h2>Contacts</h2>
    <ol>
        <li><a target="_blank" href="https://github.com/romakotek/">Github</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/burabayev?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BRKM3DZCESSG4nxt1HgiFaw%3D%3D">LinkedIn</a></li>
    </ol>
</body>
</html>